* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: Arial;
    
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'h h h h h h'
        's1 s1 s1 s2 s2 s2'
        'p1 r r r r p2'
        'b1 b1 b2 b2 b3 b3'
        'f f f f f f'
    ;
    width: 1000px;
    margin: 10px auto 10px auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

div {
    border: 1px solid red;
}

.header {
    grid-area: h;
    height: 100px;
}

.status1, .status2 {
    height: 100px;
}

.status1 {
    grid-area: s1;
}

.status2 {
    grid-area: s2;
}

.p1, .result, .p2 {
    height: 200px;
}

.p1 {
    grid-area: p1;
}

.result {
    grid-area: r;
}

.p2 {
    grid-area: p2;
}

.buttons {
    
    height: 200px;
    padding: 20px;
}

.buttons img {
    max-width: 100%;
    max-height: 100%;   
}

#button1 {
    grid-area: b1;
}

#button2 {
    grid-area: b2;
}

#button3 {
    grid-area: b3;
}

.footer {
    grid-area: f;
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-areas:
            'h h h h h h'
            's1 s1 s1 s1 s1 s1'
            's2 s2 s2 s2 s2 s2'
            'r r r r r r'
            'b1 b1 b2 b2 b3 b3'
            'f f f f f f'
        ;
    }
}